@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');
*{
 margin: 0;
 padding: 0;
}
body{
    width: auto;
    height: 100vh;
    overflow: hidden;
  }
.jeu{
  background: url(../Img/jeu.jpg) #000 center center/cover no-repeat;
  height: 100vh;
  width: auto;
}

/* ============================modal=================*/
.modal-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container.active {
  /* display: block; */
  visibility: visible;
}
input{
  background-color: transparent;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  border: none;
  color: white;
  box-shadow: none;
}
input:active{
  border: none;
  box-shadow: none;
}
.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3333338e;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal {
  z-index: 2  ;
  height: 20%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
}
.modal-container.active .modal{
  opacity: 1;
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}
.modal p {
  line-height: 1.4;
  margin-bottom: 5px;
  color: white;
  font-family: 'Poppins', sans-serif;
}










/* =================top============================ */
.top>.left{
  color: white;
  position: absolute;
  display: flex;
  top: 10px;
  left: 10px;
  font-family: 'Poppins', sans-serif;
}
.score{
  padding-top: 10px;
  color: #0AEFF7;
  transform: rotate(270deg);
  font-size: 0.8rem;
}
.score::after{
  content: '';
  width: 40px;
  position: absolute;
  top: 30px;
  left: -5px;
  border: solid 1px white;
}
.count{
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 5px;
}
.lost{
  text-align: center;
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.38);
  
}
.lost::before{
  content: 'X';
  padding-right: 10px;
}
.lost::after{
  content: 'X';
  padding-left: 10px;
}
.top>.right{
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../Img/logo.svg) center center/cover no-repeat;
  height: 150px;
  width: 150px;
}
/* ====================bottom======================== */

.bottom>.left{
  font-family: 'Poppins', sans-serif;
}
.btnZoom{
  color: white;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  bottom: 10px;
  left: 0;
  transform: rotate(270deg);
}

.btnZoom>span:nth-child(1){
  color: #0AEFF7;
  position: absolute;
  left: 190px;
  top: 30px;
}
.btnZoom>span:nth-child(2){
  position: absolute;
  left: 170px;
  top: 30px;
}
.btnZoom>span:nth-child(3){
  position: absolute;
  left: 10px;
  top: 29px;
  transform: rotate(90deg);
}
.lineZoom{
  border: 1px solid white;
  transform: rotate(90deg);
  position: absolute;
  height: 125px;
  left: 90px;
  bottom: -105px;
}

button {
  position: absolute;
  display: flex;
  height: 3em;
  bottom: 20px;
  left: 80px;
  color: white;
  border-color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  cursor: pointer;
  background: none;
  padding-left: 5px;
  padding-right: 3px;
 }
 button > img {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.2s ease-in;
 }
 button:hover > img {
  font-size: 1.8em;
  transform: rotate(360deg);
 }
 button:hover {
  transform: translateY(-2px);
 }
/* ============================mention======================== */
.mention{
  position: absolute;
  bottom: 10px;
  right: 0px;
  display: flex;
}
.m1>a, .m2>a{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  animation: none;
  color: white;
  font-weight: bold;
  display: inline;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}
.m1:after, .m2:after{
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 3px;
  transition: 0.5s cubic-bezier(0.72,-0.01, 0.19, 0.92);
  background: #ffffff;
}
.m1:hover:after {
  width: 40%;
}
.m2:hover:after {
  width: 100%;
}




