@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');
*{
 margin: 0;
 padding: 0;  
}
body{
  background: url(../Img/post.svg) #000 center center/cover no-repeat;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

.loader {
  font-size: 10rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.5s;
  letter-spacing: 0.2em;
  display: flex;
  background: url(../Img/bg.svg) #000 center center/cover no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  animation: drop 4s;
}
.mention>a{
  color: white;
  font-weight: bold;
  padding-right: 10px;
}
.mention{
  padding-right: 20px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 10px;
  right: 0px;
  justify-content: space-between;
  font-size: 1rem;
  animation: none;
}
.neon1 {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(230, 18, 124),
    0 0 77px rgb(230, 18, 124),
    0 0 100px rgb(230, 18, 124);
  animation: flashing 2.6s linear;
}
.neon2 {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(230, 18, 124),
    0 0 77px rgb(230, 18, 124),
    0 0 100px rgb(230, 18, 124);
  animation: flashing 3s linear;
}
@keyframes flashing {
  0%, 18%, 21%, 32%, 35%, 39%, 42% {
    text-shadow:
      0 0 16px #ffff,
      0 0 16px #ffff,
      0 0 32px rgb(230, 18, 124),
      0 0 64px rgb(230, 18, 124),
      0 0 90px rgb(230, 18, 124),
      0 0 124px rgb(230, 18, 124);}
  20%, 34%, 41%
  {
  text-shadow: none;
  }
}
@keyframes drop {
  50% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}
/* ============================================================================== */
.post{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  width: auto;
  height: 100vh;
  display: none;
  font-size: 14px;
  justify-content: center;
  align-items: flex-end;
  letter-spacing: 5px;
  bottom: 100px;
  left: 800px;
}
.post>a{
  color: #FFAAFF;
  text-decoration: none;
}
